body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Tahoma;
  -webkit-font-smoothing: antialiased;
}

/* Estilo global */
.secao {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.paragrafo {
  font-size: 18px;
  text-align: justify;
  line-height: 28px;
  margin: 10px auto;
  width: 980px;
}

/* Primeira seção */
.topo {
  background-color: #afddfb;
}

.topo img {
  width: 150px;
}

.paragrafo-topo {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 25px;
}

.link-topo {
  color: #1d1d1d;
  text-decoration: none;
  margin: 0 10px;
  border-bottom: 1px solid #1d1d1d;
}

/* Segunda seção */
.banner {
  padding-top: 0;
  margin-top: 50px;
}

/* estilos para destaques  */

span {
  font-weight: bold;
}
